* {
    font-family: sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 55px 1fr;
    grid-template-columns: 350px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header#main-header {
    grid-area: header;
    background-color: #243136;
}

header#main-header h1 {
    color: #eee;
    margin: 0px 0px 0px 20px;
    font-size: 1.5em;
    line-height: 55px;
}

aside#main-controls {
    grid-area: sidebar;
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
}

aside#main-controls ul {
    padding: 0;
}

aside#main-controls ul li {
    display: flex;
    padding: 2px 2px 5px 2px;
}

aside#main-controls ul li label {
    user-select: none;
}

aside#main-controls ul li input {
    width: 270px;
    margin-bottom: 5px;
    padding: 5px
}

aside#main-controls ul li input[type="button"] {
    width: 282px;
}

main#main-view {
    grid-area: main;
    width: 100%;
    height: 100%;
}

body div#leaflet-map {
    width: 100%;
    height: 100%;
}